<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-text class="ion-text-center" color="success">
      <h1>Informacion Actual</h1>
    </ion-text>

    <ion-item>
      <h6>{{todayDate | date: "dd/MMMM/YYYY"}}</h6>
    </ion-item>

    <ion-item>
      <span>{{temp}}°</span>
      <img slot="" [src]=weatherIcon>
    </ion-item>


    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <span>{{city}}</span>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <span>Temperatura Actual</span>
      <span slot="end">{{temp}}°</span>
    </ion-item>

    <ion-item>
      <span>Temperatura Maxima</span>
      <span slot="end">{{(weatherTemp?.temp_max - 273.15).toFixed(0)}}°</span>
    </ion-item>


    <ion-item>
      <span>Temperatura Minima</span>
      <span slot="end">{{(weatherTemp?.temp_min - 273.15).toFixed(0)}}°</span>
    </ion-item>

    <ion-item>
      <span>Humedad</span>
      <span slot="end">{{weatherTemp?.humidity}} %</span>
    </ion-item>
  </ion-card>
</ion-content>