<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/img/1a.jpg" alt="">
    <ion-card-header>
      <ion-card-subtitle>Ing. en informatica</ion-card-subtitle>
      <ion-card-title>Nicolas Grez</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Estudiante de ingieneria en informatica en Duoc Uc San Joaquin
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../../assets/img/foto.jpg" alt="">
    <ion-card-header>
      <ion-card-subtitle>Ing. en informatica</ion-card-subtitle>
      <ion-card-title>Hernan Chamorro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Estudiante de ingieneria en informatica en Duoc Uc San Joaquin
    </ion-card-content>
  </ion-card>


</ion-content>