<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="usuario" (ngSubmit)="ingresar()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="correo" type="text" placeholder="Ingrese correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input formControlName="clave" type="password" placeholder="Ingrese clave"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="!usuario.valid">Ingresar</ion-button>
    <ion-item>
      <a routerLink="/registro" >Registrar usuario</a>
    </ion-item>
    <ion-item>
      <a routerLink="/recuperar" >Recuperar contraseña</a>
    </ion-item>
  </form>
</ion-content>
