<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button color="danger"  size="small" [routerLink]="['/login']" routerLinkActive="router-link-active" >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <ion-card>
    <img src="../../../assets/img/cat.gif" alt="">
    <ion-card-header>
      <ion-card-subtitle>DuocUC San Joaquin</ion-card-subtitle>
      <ion-card-title>Conoce Nuestra app</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
