<ion-header>
  <ion-toolbar>
    <ion-title>{{ pageTitle | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <div class="fondo">
    <ion-card class="card">
      <ion-item class="item">
        <ion-label position="stacked">Recuperar Contraseña</ion-label>
        <ion-input placeholder="Ingrese correo de recuperacion" type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <!--El comando .include('cadena'): busca que un texto contenga la cadena de texto indicada...
        El disabled deshabilita el boton cuando el correo no incluye la cadena de texto: @duocuc.cl -->
      <ion-button expand="block" (click)="recuperar()" [disabled]="!correo.includes('@duocuc.cl')"
        (click)="showLoading()">Recuperar</ion-button>
    </ion-card>

  </div>

</ion-content>